.Editor {
  background-color: #2d2d2d;
}

.EditorHeader {
  background-color: #111;
  padding: 0 2em 0 1em;
}

.EditorCode {
  padding: 1em;
}

.Control {
  margin-left: 1.5em;
  color: #ccc;
  cursor: pointer;
  height: 24px;
}

.Control:hover {
  color: white;
}
