.Form {
  margin-bottom: 1em;
  position: relative;
}

.FormLabel {
  font-size: 14px;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.FormInput {
  font-size: 1em;
  appearance: none;
  border: 1px solid var(--color-gray-1);
  height: 3em;
  display: block;
  padding: 0.5em;
  width: 100%;
  border-radius: 2px;
}

.FormInput:disabled {
  background-color: var(--color-gray-4);
}

.FormCopy {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translate3d(0, -50%, 0);
  background-image: linear-gradient(
    to right,
    transparent,
    var(--color-gray-4) 50%
  );
  cursor: pointer;
  padding: 0 0.5em 0 3em;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  color: var(--color-accent);
}
