.ModalContainer {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.Modal {
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  padding: 1em 2em 2em;
  border: 2px solid;
  border-top: 0;
  min-width: 40vw;
  border-radius: 0 0 6px 6px;
}

.ModalHeader {
  margin-bottom: 1em;
}

.ModalButton {
  margin-top: 3em;
  display: block;
  width: 100%;
}

.ModalBackground {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 0.2;
}
