.Editors {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
}

.Editor {
  margin-left: 1em;
  align-self: flex-end;
  width: 20vw;
}

.Editor.isActive {
  width: 40vw;
}

.EditorHeader {
  font-family: 'SF Mono';
  height: 3em;
  color: white;
  background-color: black;
  padding: 0 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.EditorTitle {
  flex: 1;
}

.EditorAction {
  opacity: 0;
}

.Editor:hover .EditorAction,
.isActive .EditorAction {
  opacity: 1;
}

.EditorCode {
  height: 50vh;
  background-color: #333;
  display: none;
}

.isActive .EditorCode {
  display: block;
}

.Preview {
  width: 100vw;
  height: 100vh;
}

.PreviewFrame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  border: 0;
}

.PreviewControl {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 1;
}
