:root {
  --color-gray-1: #111;
  --color-gray-2: #2d2d2d;
  --color-gray-3: #ccc;
  --color-gray-4: #f0f0f0;

  --color-accent: #0074d9;

  --letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-gray-1);
  color: var(--color-gray-1);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  font-size: 16px;
}

button {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  line-height: 3em;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 0 0.75em;
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--color-accent);
  color: white;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 3px var(--color-accent);
}

button.isActive {
  background-color: white;
  color: #111;
  z-index: 1;
}

.Tooltip {
  background-color: var(--color-accent) !important;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.Tooltip::after {
  border-bottom-color: var(--color-accent) !important;
}
